#pic{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/slide-2-shs-BUSINESS.jpg) no-repeat;
  background-size:cover;
}

#logo{
  max-height:42px;
  margin-right:5px;
}

@media (max-width:767px) {
  #pic{
    padding:20px;
  }
}

#pic.jumbotron{
  border-radius:20px;
  padding:250px;
  background-color:rgba(250,250,250,0.75);
}

@media (max-width:1199px) {
  #pic.jumbotron{
    padding:20px;
  }
}

.container.sti{
  padding:60px;
}

.dark-section{
  background-color:#c0ddf8;
}

.container.photos{
  background-color:white;
  padding:30px;
}

.container.sti h1{
  margin-bottom:30px;
}

div.container.why{
  text-align:center;
  padding:60px;
}

.text-center.use{
  margin-bottom:50px;
}

i.material-icons{
  font-size:24px;
}

i.fa.fa-fast-forward{
  font-size:24px;
}

i.glyphicon.glyphicon-hourglass{
  font-size:24px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color:yellow;
  background-color:#226fb5;
  border-color:transparent;
}
@media (max-width: 768px) {
  .input-group{
    margin-bottom: 5px;
  }

}
